<!-- <a href="https://icons8.com/icon/dj1fRgpBOEt4/healthy-food-calories-calculator">Healthy Food Calories Calculator icon by Icons8</a> -->

<!DOCTYPE html>
<html lang="en">
    <%- include('head', {title: "About"}); -%>
    <body>
        <%- include('header'); -%>
        <div class="Subhead m-5">
            <div class="Subhead-heading">About Us</div>
            <div class="Subhead-description">CalorieBuddy</div>
        </div>
    </body>
</html>