<!-- <a href="https://icons8.com/icon/dj1fRgpBOEt4/healthy-food-calories-calculator">Healthy Food Calories Calculator icon by Icons8</a> -->

<!DOCTYPE html>
<html lang="en">
    <%- include('head', {title: "About"}); -%>
    <body>
        <%- include('header'); -%>
        <div class="Subhead m-5">
            <div class="Subhead-heading h00-mktg">CalorieBuddy Web App</div>
        </div>
        <p class="m-5 h1-mktg">
        The purpose of the web application is to help people manage their diet by displaying nutritional facts in a recipe based on food ingredients in the recipe.
        <br> 
        <br> 
        <span class="h3-mktg bg-purple-light rounded-2 text-gray-dark p-2"> Developer:</span> <b class="bg-green-light rounded-1">Mohammad Hussain Nagaria</b>
        <br>
        <span class="h3-mktg bg-purple-light rounded-2 text-gray-dark p-2">Tech Stack:</span> <b class="bg-green-light rounded-1">NodeJS, Express, MySQL, Vue.js</b>
        </p>
    </body>
</html>