<!-- <a href="https://icons8.com/icon/dj1fRgpBOEt4/healthy-food-calories-calculator">Healthy Food Calories Calculator icon by Icons8</a> -->

<!DOCTYPE html>
<html lang="en">
    <%- include('head', {title: "Add Food"}); -%>
    <body>
        <%- include('header'); -%>
        <div class="Subhead m-5">
            <div class="Subhead-heading">Add new food item</div>
            <div class="Subhead-description">Fill out the form to add food to database</div>
        </div>

        <form class="px-5" action="/add" method="POST">
            <div class="form-group">
              <div class="form-group-header">
                <label for="food_name">Food name</label>
              </div>
              <div class="form-group-body">
                <input class="form-control" name="food_name" type="text" id="food_name" placeholder="e.g. flour, bread, ..."/>
              </div>
            </div>

            <div class="form-group">
                <div class="form-group-header">
                  <label for="typical_value">Typical Values Per</label>
                </div>
                <div class="form-group-body">
                  <input class="form-control" name="typical_value" type="number" id="typical_value" placeholder="e.g. 100, 200, ..." />
                </div>
            </div>

            <div class="form-group">
                <div class="form-group-header">
                  <label for="typical_value_unit">Unit of the above typical value</label>
                </div>
                <div class="form-group-body">
                  <input class="form-control" name="typical_value_unit" type="text" id="typical_value_unit" placeholder="e.g. gram, milligram,..." />
                </div>
            </div>

            <div class="form-group-header">
                <label for="calories">Calories</label>
            </div>
            <div class="form-group-body">
                <input class="form-control" name="calories" type="number" id="calories" />
            </div>

            <div class="form-group-header">
                <label for="carbs">Carbs</label>
            </div>
            <div class="form-group-body">
                <input class="form-control" name="carbs" type="number" id="carbs" />
            </div>

            <div class="form-group-header">
                <label for="fats">Fats</label>
            </div>
            <div class="form-group-body">
                <input class="form-control" name="fats" type="number" id="fats" />
            </div>
        
            <div class="form-group-header">
                <label for="proteins">Protein</label>
            </div>
            <div class="form-group-body">
                <input class="form-control" name="proteins" type="number" id="proteins" />
            </div>
            </div>

            <div class="form-group-header">
                <label for="salt">Salt</label>
              </div>
              <div class="form-group-body">
                <input class="form-control" name="salt" type="number" id="salt" />
              </div>
            </div>

            <div class="form-group-header">
                <label for="sugar">Sugar</label>
              </div>
              <div class="form-group-body">
                <input class="form-control" name="sugar" type="number" id="sugar" />
              </div>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary">Add to Database</button>
                <button type="button" class="btn">Clear</button>
            </div>
        </form>          
    </body>
</html>