<!-- <a href="https://icons8.com/icon/dj1fRgpBOEt4/healthy-food-calories-calculator">Healthy Food Calories Calculator icon by Icons8</a> -->

<div class="Header">
    <a href="/" class="Header-link f4 d-flex flex-items-center">
        <img class="mr-2" width="32" height="32" src="https://img.icons8.com/fluent/48/000000/healthy-food-calories-calculator.png"/>
        <span>CalorieBuddy</span>
    </a>
    <div class="Header-item ml-6">
        <a href="/foods" class="Header-link">All Foods</a>
    </div>
    <div class="Header-item">
        <a href="/add" class="Header-link">Add</a>
    </div>
    <div class="Header-item">
        <a href="/search" class="Header-link">Search</a>
    </div>
    <div class="Header-item">
        <a href="/about" class="Header-link">About</a>
    </div>
</div>
