<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CalorieBuddy - Home</title>
</head>
<body>
    <h1>This will be the home page soon!</h1>
</body>
</html>