<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/@primer/css/dist/primer.css" rel="stylesheet" />
    <title>CalorieBuddy - Home</title>
</head>
<body>
    <div class="Header">
        <a href="/" class="Header-link f4 d-flex flex-items-center">
            <img class="mr-2" width="32" height="32" src="https://img.icons8.com/fluent/48/000000/healthy-food-calories-calculator.png"/>
            <span>CalorieBuddy</span>
        </a>
        <div class="Header-item ml-6">
            <a href="#" class="Header-link">List all Foods</a>
        </div>
        <div class="Header-item">
            <a href="#" class="Header-link">About</a>
        </div>
        <div class="Header-item">
            <a href="#" class="Header-link">Add</a>
        </div>
        <div class="Header-item">
            <a href="#" class="Header-link">Search</a>
        </div>
    </div>
    <h1 class="p-5">This will be the home page soon!</h1>
</body>
</html>