<!-- <a href="https://icons8.com/icon/dj1fRgpBOEt4/healthy-food-calories-calculator">Healthy Food Calories Calculator icon by Icons8</a> -->

<!DOCTYPE html>
<html lang="en">
<%- include('head', {title: "Home"}); -%>
<body>
    <%- include('header'); -%>
    <div class="blankslate blankslate-large">
        <img src="https://img.icons8.com/color/96/000000/lunchbox.png" alt="" class="mb-3" />
        <h3 class="mb-1">Let's help you create your diet</h3>
        <p>You can create a new food item by clicking the button below.</p>
        <a class="btn btn-primary my-3" type="button" href="/add">Add food item</a>
    </div>
</body>
</html>