<!-- <a href="https://icons8.com/icon/dj1fRgpBOEt4/healthy-food-calories-calculator">Healthy Food Calories Calculator icon by Icons8</a> -->

<!DOCTYPE html>
<html lang="en">
    <%- include('head', {title: "Search food for Update"}); -%>
    <style>
        .search-form {
            display: grid;
            grid-template-columns: 9fr, 1fr;
        }

        .search-box {
            display: inline-block;
            width: 70%;
            grid-column: 1 / 2;
            font-size: 2em;
        }

    </style>
    <body>
        <%- include('header'); -%>
        <div class="Subhead m-5">
            <div class="Subhead-heading">Search to update a food item</div>
            <div class="Subhead-description">Enter the name of food item to update.</div>
        </div>
        <form class="search-form" method="GET" action="/update_food">
            <div class="p-5">
                <input name="keyword" class="form-control search-box" type="text" aria-label="Search" placeholder="Enter food name to update">
                <input class="btn btn-primary btn-large ml-2" type="submit" value="Search">
            </div>
        </form>
    </body>
</html>